/.vs/CustomOp/DesignTimeBuild/.dtbcache.v2
/.vs/CustomOp/FileContentIndex/3a943e21-4a11-4895-a6f2-0e4a45cd253d.vsidx
/.vs/CustomOp/FileContentIndex/5dae0de8-40da-4b7a-8646-b7c75013b417.vsidx
/.vs/CustomOp/FileContentIndex/dec4b964-1dc6-4d7b-9123-43d3f7831767.vsidx
/.vs/CustomOp/FileContentIndex/e9a9f944-bfb2-4565-a34e-c461ddd35872.vsidx
/.vs/CustomOp/FileContentIndex/read.lock
/.vs/CustomOp/v17/.futdcache.v1
/.vs/CustomOp/v17/.suo
/.vs/ProjectEvaluation/customop.metadata.v2
/.vs/ProjectEvaluation/customop.projects.v2
/CustomOp/bin/Debug/net6.0-windows/CustomOp.deps.json
/CustomOp/bin/Debug/net6.0-windows/CustomOp.dll
/CustomOp/bin/Debug/net6.0-windows/CustomOp.exe
/CustomOp/bin/Debug/net6.0-windows/CustomOp.pdb
/CustomOp/bin/Debug/net6.0-windows/CustomOp.runtimeconfig.json
/CustomOp/bin/Debug/net6.0-windows/FakeLog.txt
/CustomOp/bin/Debug/net6.0-windows/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
/CustomOp/bin/Debug/net6.0-windows/runtimes/win/lib/net6.0/System.ServiceProcess.ServiceController.dll
/CustomOp/bin/Debug/net6.0-windows/System.ServiceProcess.ServiceController.dll
/CustomOp/obj/CustomOp.csproj.nuget.dgspec.json
/CustomOp/obj/CustomOp.csproj.nuget.g.props
/CustomOp/obj/CustomOp.csproj.nuget.g.targets
/CustomOp/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CustomOp/obj/Debug/net6.0-windows/apphost.exe
/CustomOp/obj/Debug/net6.0-windows/CustomOp.AssemblyInfo.cs
/CustomOp/obj/Debug/net6.0-windows/CustomOp.AssemblyInfoInputs.cache
/CustomOp/obj/Debug/net6.0-windows/CustomOp.assets.cache
/CustomOp/obj/Debug/net6.0-windows/CustomOp.csproj.AssemblyReference.cache
/CustomOp/obj/Debug/net6.0-windows/CustomOp.csproj.BuildWithSkipAnalyzers
/CustomOp/obj/Debug/net6.0-windows/CustomOp.csproj.CopyComplete
/CustomOp/obj/Debug/net6.0-windows/CustomOp.csproj.CoreCompileInputs.cache
/CustomOp/obj/Debug/net6.0-windows/CustomOp.csproj.FileListAbsolute.txt
/CustomOp/obj/Debug/net6.0-windows/CustomOp.csproj.GenerateResource.cache
/CustomOp/obj/Debug/net6.0-windows/CustomOp.designer.deps.json
/CustomOp/obj/Debug/net6.0-windows/CustomOp.designer.runtimeconfig.json
/CustomOp/obj/Debug/net6.0-windows/CustomOp.dll
/CustomOp/obj/Debug/net6.0-windows/CustomOp.Form1.resources
/CustomOp/obj/Debug/net6.0-windows/CustomOp.GeneratedMSBuildEditorConfig.editorconfig
/CustomOp/obj/Debug/net6.0-windows/CustomOp.genruntimeconfig.cache
/CustomOp/obj/Debug/net6.0-windows/CustomOp.GlobalUsings.g.cs
/CustomOp/obj/Debug/net6.0-windows/CustomOp.pdb
/CustomOp/obj/Debug/net6.0-windows/ref/CustomOp.dll
/CustomOp/obj/Debug/net6.0-windows/refint/CustomOp.dll
/CustomOp/CustomOp.csproj
/CustomOp/CustomOp.csproj.user
/CustomOp/obj/project.assets.json
/CustomOp/obj/project.nuget.cache
/.vs/CustomOp/FileContentIndex/16b7b0fb-cec9-446e-bbe0-0ce32c54fc6b.vsidx
/.vs/CustomOp/FileContentIndex/5e514a55-ce08-4dda-8626-16e73b7deab8.vsidx
/.vs/CustomOp/FileContentIndex/e03ace6a-d95d-406f-a0ce-e53ef8602503.vsidx
/.vs/CustomOp/FileContentIndex/793237f4-9a4a-4a0c-a1fd-8979a5f9128e.vsidx
*.vsidx
